@import "tailwindcss";

:root {
  --clr-primary: #003A8F;
  --clr-primary-hover: #003077;
  --clr-primary-active: #002761;
  --clr-primary-light: #3B82F6;
  --clr-primary-soft: #EAF2FF;

  --clr-accent: #FBBF24;
  --clr-accent-hover: #F59E0B;
  --clr-accent-active: #da8e0b;
  
  --clr-ghost-hover: #ffffff1A;
  --clr-ghost-active: #ffffff2c;
  
  --clr-bg-primary: #F8FAFC;
  --clr-bg-secondary: #dde4eb;
  --clr-bg-card: #FFFFFF;
  --clr-bg-input: #FFFFFF;
  
  --clr-txt-primary: #0F172A;
  --clr-txt-secondary: #64748B;

  --clr-border: #E2E8F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: #3B82F6;
    --clr-primary-hover: #2563EB;
    --clr-primary-active: #1D4ED8;

    --clr-accent: #FBBF24;
    --clr-accent-hover: #F59E0B;

    --clr-ghost-hover: #003A8F5d;
    --clr-ghost-active: #00398f80;

    --clr-bg-primary: #0B1220;
    --clr-bg-secondary: #111827;
    --clr-bg-card: #1F2937;
    --clr-bg-input: #111827;

    --clr-txt-primary: #F9FAFB;
    --clr-txt-secondary: #9CA3AF;
    --clr-txt-muted: #6B7280;

    --clr-border: #374151;
  }
}

body {
  background: var(--clr-bg-primary);
  color: var(--clr-txt-primary);
  font-family: Arial, Helvetica, sans-serif;
}